{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'kasus.css' %}">
<title>Update Kasus</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <h1 id="total-text">Kasus COVID-19 di Indonesia</h1>
        <div class="row" style="justify-content: center;">
            {% for i in kasus %}
            {% if forloop.last %}
            <div class="card text-white bg-info mb-3" style="max-width: 10rem;">
                <div class="card-header">
                    <h6>Terkonfirmasi</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.total }}</h5>
                </div>
            </div>
            <div class="card text-white bg-danger mb-3" style="max-width: 10rem;">
                <div class="card-header">
                    <h6>Dirawat</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.dirawat }}</h5>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
                <div class="card-header">
                    <h6>Sembuh</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.sembuh }}</h5>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 10rem;">
                <div class="card-header">
                    <h6>Meninggal</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.meninggal }}</h5>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% if messages %}
        <ul style="list-style-type:none">
            {% for message in messages %}
               <li class="text-success">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <table>  
                <td>{{ formkasus }}</td>
            </table>
        <a class= "btn btn-secondary" href="/"><span style="font-weight: bold;">back</span></a>
        <input class="btn btn-info" type="submit" value="Update" style="font-weight: bold;">
    </form>
</div>
{% endblock %}