{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Log In</title>
{% endblock meta %}

{% block content %}

<div class="wrapper-page">
    <h1 class="abril-font" style="font-size: 60px; font-weight: bold;">Log In</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Log In</button>
    </form>
    
</div>

{% endblock content %}