{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Sign Up</title>
{% endblock meta %}

{% block content %}
<div class="wrapper-page">
  <h1 class="abril-font" style="font-size: 60px; font-weight: bold;">Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    {{ form | crispy}}
    <button type="submit">Sign Up</button>
  </form>

</div>

{% endblock content %}