* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
}

/* For base */
.title{
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: #EEEEEE;
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
border-color: rgb(255,255,255)
} 

nav .navbar-item-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;

    color: #FFFFFF;
}

/* hotline page */

#header-hotline {
    margin-top: 60px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #4E8098;
}

#img-hotline-1{
    position: relative;
    top: 40px;
    margin-left: 120px;
    width: 47px;
    height: 37px;
    mix-blend-mode: darken;
}

#img-hotline-2{
    position: relative;
    top: 40px;
    left: 120px;
    width: 47px;
    height: 37px;
}

#img-hotline-3{
    position: relative;
    top: 40px;
    margin-left: 120px;
    width: 47px;
    height: 37px;
}

#content-hotline-page-1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #5F5F5F;
}

#content-rs-page-1{
    margin-left: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #5F5F5F;

}

.col-centered{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

#header-forms{
    text-align: center;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #00A9A5;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

#footer-logo{
    width: 30px;
    height: 30px; 
}


