{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <body>
        
        {% block content %} 
        <div>
            {% include 'navbar.html' %}
          </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="header-hotline">
                        Hotline
                    </div> <br>
                    <img src = "{% static 'telefonrumah.png' %}" id = "img-hotline-1">
                    <div id = "content-hotline-page-1" style="margin-right:45px;">
                        199
                    </div>
                    <br>
                    <img src = "{% static 'telefon.png' %}" id = "img-hotline-2">
                    <div id = "content-hotline-page-1" style="margin-left: 100px;">
                        021-5210411
                    </div>
                    <br>
                    <img src = "{% static 'www.png' %}" id = "img-hotline-3">
                    <div id = "content-hotline-page-1" style="margin-left: 90px;">
                        covid19.go.id
                    </div>
                    <br>
                </div>
                <div class="col-md-6">
                    <div id="header-hotline">
                        Rumah Sakit
                    </div><br>
                    <div class="overflow-auto" style="max-height: 300px; margin-top:40px;">
                        <div id="content-rs-page-1">
                            <ol type="1">
                                <li>RSD Wisma Atlet (Rujukan)</li>
                                <li>RSUD Kebayoran Baru (021-22774429)</li>
                                <li>RSUD Keramat Jati (021-87791352)</li>
                                <li>RSUD Kali Deres (021-22552766)</li>
                                <li>RS Islam Cempaka Putih (021-4250451)</li>
                                {% if rumah_sakit %}
                                    {% for rs in rumah_sakit %}
                                    <li>{{ rs.nama }}({{rs.nomor}}) </li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class = "col-centered">
                    <div id="header-forms">
                        Tambahkan rumah sakit di sini
                    </div> <br>
                    <form method="POST" action = "">
                        {% csrf_token %}
                        {{form}}
                        <input type ='submit' value='Submit' style="background-color: #00A9A5; color:#FFFFFF; border-radius: 5px; margin-left: 50px;"/>
                    </form>
                </div>
            </div>
        </div>
        
            
        
    {% endblock content %}  
    </body>
</html>