{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Donation</title>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<div id="carouselDonations" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselDonations" data-slide-to="0" class="active"></li>
    <li data-target="#carouselDonations" data-slide-to="1"></li>
    <li data-target="#carouselDonations" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static '1.png' %}" alt="Donate">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '2.png' %}" alt="MariBerdonasi">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '3.png' %}" alt="MariBerdonasi">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselDonations" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselDonations" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h1 id="donate">Donate</h1>
<p id="donateText">Ayo bantu teman-teman kita yang kesulitan ditengah pandemi! <br>
(Hasil pengisian form akan ditampilkan pada tabel di bawah) <br></p>
<div class="donation" style="align-items: center;">
    <form method="POST" action="savecontributors">
        {% csrf_token %}
        <table>  
            <td>{{ form }}</td>  
            <td><input class="btn btn-info" type="submit" value="Next"></td>
        </table>
    </form>
</div>
<br>
<p id="donateText"><a href="donationplaces" style="color: #00A9A5; font-weight: bold;"> Click here!</a> jika ingin langsung menuju halaman tempat donasi.</p>
<br> <br>
<div class="row" style="background-color: #0b5350e8;">
  <div class="col">
  <h2 id="contributors" style="color: white;">Contributors</h2>
  <p style="text-align: center; font-weight: bold; color: rgb(240, 240, 240);">Total: {{ total }}</p>
  
    <div class="scrollable" style="">
    <table class="table table-bordered table-hover" style="">
      <thead class="thead-light">
        <tr>
          <th scope="col">Num</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        {% if contributors %}
          {% for contributor in contributors %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ contributor.nama }}</td>
            <td>{{ contributor.kota }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    </div>
    <br><br>
  </div>
</div>


{% endblock content %}