{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Donation</title>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<h1 id="donate">Donate</h1>
<p id="donateText">Pilih tempat untuk berdonasi</p>
<div class="rowplaces">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-donate">
        <img src="https://imgix.kitabisa.com/85c80718-ebb1-486d-93a3-dd715eb069ca.jpg?ar=16:9&w=664&auto=format,compress" class="card-img-top" alt="donasi2">
        <div class="card-body">
          <a href="https://kitabisa.com/campaign/indonesialawancorona" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-donate">
        <img src="https://imgix.kitabisa.com/e08ba9de-78ca-4d11-af23-eb189ad647a9.jpg?ar=16:9&w=664&auto=format,compress" class="card-img-top" alt="donasi1">
        <div class="card-body">
          <a href="https://kitabisa.com/campaign/bisazakatmakanan" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-donate">
        <img src="https://imgix.kitabisa.com/4daa5abb-0f1e-40a7-8768-19da9c396961.jpg?ar=16:9&w=664&auto=format,compress" class="card-img-top" alt="donasisatwa">
        <div class="card-body">
          <a href="https://kitabisa.com/campaign/bantusatwamakan" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info">Donate</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-donate">
        <img src="https://imgix.kitabisa.com/3ed4bab5-1341-436c-9130-2f172e901081.jpg?ar=16:9&w=664&auto=format,compress" class="card-img-top" alt="donasisembako">
        <div class="card-body">
          <a href="https://kitabisa.com/campaign/sembakountukrakyat" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="thankyou">
  <h2 id="contributors">Thank You For Your Contribution!</h2>
  <p id="donateText">Sumbanganmu sangat berarti bagi teman-teman di luar sana. <br>
    Terima kasih. Jangan lelah untuk berbagi!</p>
  <a type="button" id="btn-submit" class="btn btn-info" href="donation">Selesai Berdonasi</a>
</div>

{% endblock content %}