{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sharing</title>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<style>
  textarea{
    padding:1rem;
  }
</style>
<div class="d-flex flex-column justify-content-center align-items-center">
  <h1 id="sharing-header">Sharing</h1>
    <p class="sharing-desc">Bagikan pengalaman Anda seputar COVID-19. <b>Pengalaman Anda akan ditampilkan pada halaman 
      <a href="{% url 'sharing:sharing-result' %}">Kumpulan Sharing</a>.</b> </p>
    <p class="sharing-desc">Sharing bersifat anonim.</p>
  
  <a href="{% url 'sharing:sharing-result' %}" id="btn-result" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Kumpulan Sharing</a>  


</div>


  <form method="POST">
    {% csrf_token %}
    <div class="mr-auto ml-auto" style="width: 50%;">
        {% for field in form %}
        <div class="form-group" style="display: flex;flex-direction: column;">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
    <br>
    <div class="container">
        <input type="submit" value="Submit" id="btn-submit"class="btn btn-primary click">
    </div>
    </div>
    <br> <br>

</form>



{% endblock content %}
